---
const { job } = Astro.params

import { jobs } from "../data/jobs";
import Layout from "../layouts/Layout.astro";
import { ViewTransitions } from 'astro:transitions';

const foundJob = jobs.find(j => j.url === job)
if(!foundJob) {
    return Astro.redirect('404')
}

export function getStaticPaths() {
  return [
    {params: {job: 'frontend-web-dev-npaw'}},
    {params: {job: 'frontend-dev-vass'}},
    {params: {job: 'unity-developer-walk3d'}},
  ];
}

---
<Layout>
    <main class='text-center'  transition:animate="slide">
    <h1 class="text-6xl text-white text-center py-8">{foundJob?.title}</h1>
    <img transition:name={foundJob?.url} class="inline"  src={`https://eloicasamayor.github.io/astro-view-transitions/assets/${foundJob?.url}.png`}/>
    </main>
    <a href='../'>back</a>
    <ViewTransitions />
</Layout>
