---
import ListOfJobs from '../components/ListOfJobs.astro';
import Layout from '../layouts/Layout.astro';
import { ViewTransitions } from 'astro:transitions';

---

<Layout title="Welcome to Astroooo.">
	<main>
		<h1 class="text-6xl text-white uppercase text-center py-8">¿Qué es la <span class="text-gradient block">Luisa?</span></h1>
		<ListOfJobs/>
		<ViewTransitions />

	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
