---
export interface Props {
    title: string,
    url: string
}

const { title, url} = Astro.props
---
<li><a class="text-white" href={`/my-repo/${url}`}>{title}<img transition:name={url} src={`/assets/${url}.png`}/></a></li>