---
export interface Props {
    title: string,
    url: string,
    img: string
}

const { title, url, img} = Astro.props
---
<li><a class="text-white" href={url}>{title}<img transition:name={url} src={`https://eloicasamayor.github.io/astro-view-transitions/assets/${url}.png`}/></a></li>