---
export interface Props {
    title: string,
    url: string,
    img: string
}

const { title, url, img} = Astro.props
---
<li><a class="text-white" href={url}>{title}<img transition:name={url} src={`assets/${url}`}/></a></li>